
includeConfig "$baseDir/conf/af2.params.config"

profiles {

	cpu {
		params.cpu_flag="--cpu"
		process{
			withName: RUN_COLABFOLD {
				container = params.container_colabfold
				memory = "20 GB"
				cpus = 8
				queue = 'short-sl7'
			}
		}
		singularity {
			enabled = true
			runOptions = "--bind ${params.db}:/db --nv"
		}
	}

	gpu {
		process{

			maxRetries = 4

			withName: RUN_COLABFOLD {
				container = params.container_colabfold


				memory = { (task.attempt < 2 ? 15.GB :
									 task.attempt < 3 ? 20.GB :
									 task.attempt < 4 ? 30.GB : 50.GB )
								 }


				clusterOptions = '-q gpu_long -l gpu=1'
				}
				singularity {
					enabled = true
					runOptions = "--bind ${params.db}:/db --nv"
				}
		}

	}

}


executor{
	name = 'crg'
	submitRateLimit='5 sec'
}
