params {
   // AF2 or colabfold
   mode = "colabfold"

   // Database
   //db = "/users/cn/abaltzis/db"
   db = "/nfs/db/alphafold/202112"
   max_template_date = "2020-05-14"
   db_preset = "full_dbs"
   model_preset = "monomer"

   // Container
   container_af2 = "docker://athbaltzis/af2_proteinfold:v0.2"
   container_colabfold = "/users/cn/abaltzis/sing_cache/localcolabfold.sif"
   email = ""
}
