includeConfig "$baseDir/conf/af2.params.config"

profiles {
	cpu {

		params.cpu_flag="--cpu"

		process{
					maxRetries = 3
					errorStrategy = "retry"
					withName: RUN_COLABFOLD {
							container = params.container_colabfold
							memory = "20 GB"
							cpus = 1
							queue = 'cn-el7'
					}
		}
		singularity {
			enabled = true
			runOptions = "--bind ${params.db}:/db"
		}
	}
	gpu {

		maxRetries = 3
		errorStrategy = "retry"
		process{
			withName: RUN_COLABFOLD {
				container = params.container_colabfold
				memory = 15.GB
				clusterOptions = '-q gpu -l gpu=1'
			}

		}

		singularity {
			enabled = true
			runOptions = "--bind ${params.db}:/db --nv"
		}
	}
}
