
includeConfig "$baseDir/conf/af2.params.config"

profiles {
	cpu {
		params.cpu_flag="--cpu"
		process{
		withName: RUN_COLABFOLD {
			container = params.container_colabfold
			memory = "20 GB"
			cpus = 8
			queue = 'short-sl7'
		}
		//clusterOptions = '-l h_rt=72:00:00'
		}
		singularity {
			enabled = true
			runOptions = "--bind ${params.db}:/db"
		}
	}
	gpu {

		maxRetries = 3

		process{
			withName: RUN_COLABFOLD {
				container = params.container_colabfold
				memory = 15.GB
				clusterOptions = '-q gpu_long -l gpu=1'
			}

		}

		singularity {
			enabled = true
			runOptions = "--bind ${params.db}:/db --nv"
		}
	}
}

executor{
	name = 'crg'
	submitRateLimit='5 sec'
}
