
manifest {
    name = 'structural_regression'
    mainScript = 'main.nf'
    version = '1.0.0'
}

params {
    metadir = './metainfo'
    email = ''
    email_on_fail = false
    tracedir = "${params.metadir}/pipeline_info"
    cpu_flag = ""
    max_memory = 128.GB
    max_cpus = 16
    max_time = 24.h
    evaluate_extended = false
}
