
manifest {
    name = 'structural_regression'
    mainScript = 'main.nf'
    version = '1.0.0'
}

params {
    metadir = './metainfo'
    email = ''
    email_on_fail = false
    tracedir = "${params.metadir}/pipeline_info"
    cpu_flag = ""
    max_memory = 128.GB
    max_cpus = 16
    max_time = 24.h

    dataset_dir="/users/cn/lsantus/"
    dataset = "homfam"
    outdir = "$baseDir/results/${params.dataset}"

    // Workflows 
    dynamic_align=false
    regressive_align=false
    progressive_align=false 
    foldseek_align=false
    libraries_test = false
    compact_analysis = false
    msafold = false
    regfold = false

    evaluate=true
    evaluate_extended=false

    //structures_path = ""
    align_methods = "foldseek_sequence"

}
