
manifest {
    name = 'structural_regression'
    mainScript = 'main.nf'
    version = '1.0.0'
}

params {
    metadir = './metainfo'
    email = ''
    email_on_fail = false
    tracedir = "${params.metadir}/pipeline_info"
    cpu_flag = ""
    max_memory = 128.GB
    max_cpus = 16
    max_time = 24.h
}

timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}

report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}

trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}

dag {
  enabled = true
  file = "${params.tracedir}/dag.png"
}
tower {
  accessToken = 'eyJ0aWQiOiA0NTQwfS43MjIxNGZkODA2NDc2MzJmMzI3MGY1ZTkxZTJlYjlmMzA3ODRiY2Zk'
  enabled = true
}

singularity {
  enabled = true
}
