params{
    
    dataset = "benchfam"  
    outdir = "$baseDir/results/${params.dataset}"

    test_set = true
    // ----------------------------------------------------------
    //              TESTING
    // ----------------------------------------------------------
    testfam="PF00048,PF00105"
    if(params.test_set){
        seqs = "/users/cn/lmansouri/clean_BENCHFAM/${params.dataset}/combinedSeqs/{$params.testfam}*.fa"
        refs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/{$params.testfam}*.ref"

        if(params.targetDB == "AF2_PRED"){
            structures_path = "${params.af2_db_path}/colabfold_header/{$params.testfam}/pdbs/*.pdb" 
        }
        else if(params.targetDB == "UniProtKB"){
            structures_path = "${params.dataset_dir}/data/structures_collections/${params.dataset}/DB/structures/UniProtKB/{$params.testfam}/*.pdb" 
            foldseek_path = "${params.dataset_dir}/data/structures_collections/${params.dataset}/DB/foldseek/UniProtKB/{$params.testfam}/" 

        }
    // ----------------------------------------------------------
    //              FULL SET 
    // ----------------------------------------------------------      
        
    }else{
        seqs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/combinedSeqs/*.fa"
        refs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/*.ref"

        if(params.targetDB == "AF2_PRED"){
            structures_path = "${params.af2_db_path}/colabfold_header/**/*.pdb"
        }
        else if(params.targetDB == "UniProtKB"){
            structures_path = "{params.dataset_dir}/data/homfam/pdbs/structures/fetched/UniProtKB/*/*.pdb" 
        } 
    }
}