
params {
  config_profile_name = 'CRG profile'
  config_profile_description = 'Configuration to run on CRG cluster'
}


profiles {
  crg{
    process {
    executor = 'crg'
    queue = 'short-sl7'
    // Process-specific resource requirements
    withLabel:process_small {
        queue = 'short-sl7'
        cpus = 8
      }

    withLabel:process_medium {
            queue = 'short-sl7'
            memory = "10 GB"
            cpus = 8
      }

    withLabel:process_big {
          queue = 'long-sl7'
          memory = "20 GB"
          cpus = 4
          //clusterOptions = '-P prj007053'
      }
    }
  }
}
