
params {
  config_profile_name = 'CRG profile'
  config_profile_description = 'Configuration to run on CRG cluster'
}


profiles {
  crg{
    process {
    executor = 'crg'

    // Process-specific resource requirements
    withLabel:process_small {
        queue = 'short-sl7'
        cpus = 4
      }

    withLabel:process_medium {
            queue = 'short-sl7'
            cpus = 4
      }

    withLabel:process_big {
          queue = 'short-sl7'
          memory = "30 GB"
          cpus = 8
      }
    }
  }
}
