params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Test references'

    dataset = "homfam"
    testfam="bowman,seatoxin"
    alphafold=false

    outdir = "$baseDir/results/${params.dataset}/REFS"

    test_set = true
    experimental_structures_path  = "${params.dataset_dir}/data/structural_regression/${params.dataset}/pdbs/structures/ready/*/*.pdb"

    if(params.test_set){
      refs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/{$params.testfam}*.ref"
    }else{
      refs="${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/*.ref"
    }

}
