params {
  outdir = "${params.dataset_dir}/data/structural_regression/${params.dataset}/pdbs"
  testfam = "hip,seatoxin"
  af2_structures = "${params.dataset_dir}/data/structural_regression/af2_structures/colabfold_header/*/pdbs/*.pdb"

  min_id_mmseqs = 0.9
  min_cov_mmseqs = 1
  covmode_mmseqs = 2
}
