params {

  dataset_dir="/users/cn/lsantus/"
  outdir = "${params.dataset_dir}/data/structural_regression/${params.dataset}/pdbs"
  testfam = "hip,seatoxin,rnasemam,serpin"
  testfam = "ace,tim,hr,hpr,oxidored_q6,asp,cytb,annexin,aadh,ghf5,Ald_Xan_dh_2,mofe,Sulfotransfer,kunitz,GEL,tms,DMRL_synthase,KAS,sodcu,tgfb,ghf10,rub,mmp,cah,DEATH,cryst,kringle,az,il8,ltn,phoslip,slectin,trfl,ins,ChtBD,ghf22,profilin,Stap_Strp_toxin,sti,TNF,ghf11,bowman,rnasemam,cyt3,scorptoxin,hip,seatoxin"
  //testfam = "rvp,zf-CCHH,sdr,Acetyltransf,rrm,aat,adh,p450,rhv,blmb,PDZ,Rhodanese,hla,aldosered,ghf13,hom,biotin_lipoyl,tRNA-synt_2b,myb_DNA-binding,gluts"
  //testfam = "hip,rnasemam"
  //testfam= "hr,ghf11,tgfb,scorptoxin,seatoxin,tim,Ald_Xan_dh_2,phoslip,ghf22,DMRL_synthase"
  testfam="seatoxin,rnasemam"

  fastas = "${params.dataset_dir}/data/structural_regression/${params.dataset}/combinedSeqs/{$testfam}*.fa"

  af2_structures = "${params.dataset_dir}/data/structural_regression/af2_structures/colabfold_header/{$testfam}/pdbs/*.pdb"

  min_id_mmseqs = 0.9
  min_cov_mmseqs = 0.7
  covmode_mmseqs = 2

}
