params{
    
    dataset = "homfam"
    dataset_dir="/users/cn/lsantus/"
    outdir = "$baseDir/results/${params.dataset}"

    test_set = true
    // ----------------------------------------------------------
    //              TESTING
    // ----------------------------------------------------------
    testfam="rnasemam,seatoxin"
    if(params.test_set){
        seqs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/{$params.testfam}*.fa"
        refs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/{$params.testfam}*.ref"

        if(params.targetDB == "AF2_PRED"){
            structures_path = "${params.af2_db_path}/colabfold_header/{$params.testfam}/pdbs/*.pdb" 
        }
        else if(params.targetDB == "UniProtKB"){
            structures_path = "${params.dataset_dir}/data/structures_collections/${params.dataset}/structures/fetched/UniProtKB/{$params.testfam}/*.pdb" 
        }
    // ----------------------------------------------------------
    //              FULL SET 
    // ----------------------------------------------------------      
        
    }else{
        seqs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/*.fa"
        refs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/*.ref"

        if(params.targetDB == "AF2_PRED"){
            structures_path = "${params.af2_db_path}/colabfold_header/**/*.pdb"
        }
        else if(params.targetDB == "UniProtKB"){
            structures_path = "{params.dataset_dir}/data/homfam/pdbs/structures/fetched/UniProtKB/*/*.pdb" 
        } 
    }
}