params{
    
    dataset = "homfam"  
    treedir = "$baseDir/results/${params.dataset}_ref"
    //dataset_dir = "/users/cn/lsantus/"

    targetDB = "UniProtKB"

    min_id_filter=1.0
    min_cov_filter=1.0
    outdir = "$baseDir/results/${params.dataset}_ref/${params.targetDB}/id_${params.min_id_filter}_cov_${params.min_cov_filter}"
    test_set = false
    // ----------------------------------------------------------
    //              TESTING
    // ----------------------------------------------------------
    testfam="hip,cryst,seatoxin,blmb,Acetyltransf,az"
    testfam="hip,seatoxin,msb"
    testfam="aldosered,Ald_Xan_dh_2,cyt3,DMRL_synthase,gpdh,oxidored_q6,p450,profilin,slectin,TNF,toxin,tRNA-synt_3b"
    //testfam="Acetyltransf,DEATH,GEL,HMG_box,LIM,PDZ,annexin,az,biotin_lipoyl,cyt3,flav,gluts,hip,hla,hom,hpr,icd,il8,int,phoslip,profilin,ricin,rvp,scorptoxin,seatoxin,slectin,sodfe,tim,tms"
    testfam="slectin,TNF,profilin"
    testfam = 'TNF,adh,flav,hpr,mmp,msb,profilin,ricin,slectin'

    if(params.test_set){
        seqs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/{$params.testfam}*.fa"
        refs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/{$params.testfam}*.ref"

        if(params.targetDB == "AF2_PRED"){
            structures_path = "${params.dataset_dir}/data/structural_regression/af2_structures/colabfold_header/{$params.testfam}/pdbs/*.pdb" 
        }
        else if(params.targetDB == "PDB"){
            structures_path = "${params.dataset_dir}/data/structures_collections/${params.dataset}_ref/DB/structures/${params.targetDB}/id_${params.min_id_filter}_cov_${params.min_cov_filter}/{$params.testfam}/*.pdb" 
        }
        else if(params.targetDB == "UniProtKB"){
            structures_path = "${params.dataset_dir}/data/structures_collections/${params.dataset}_ref/DB/structures/UniProtKB/id_${params.min_id_filter}_cov_${params.min_cov_filter}/{$params.testfam}*/*.pdb" 
        }
        foldseek_path = "${params.dataset_dir}/data/structures_collections/${params.dataset}_ref/DB/foldseek/$params.targetDB/id_${params.min_id_filter}_cov_${params.min_cov_filter}/{$params.testfam}*/" 

    // ----------------------------------------------------------
    //              FULL SET 
    // ----------------------------------------------------------      
        
    }else{
        seqs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/*.fa"
        refs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/*.ref"

        if(params.targetDB == "AF2_PRED"){
            structures_path = "${params.dataset_dir}/data/structural_regression/af2_structures/colabfold_header/*/pdbs/*.pdb" 
        }
        else if(params.targetDB == "PDB"){
            structures_path = "${params.dataset_dir}/data/structures_collections/${params.dataset}_ref/DB/structures/${params.targetDB}/*/*.pdb" 
        }
        else if(params.targetDB == "UniProtKB"){
            structures_path = "${params.dataset_dir}/data/structures_collections/${params.dataset}_ref/DB/structures/UniProtKB/*/*.pdb" 
        }
        foldseek_path = "${params.dataset_dir}/data/structures_collections/${params.dataset}_ref/DB/foldseek/$params.targetDB/*/" 

    }
}