params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    dataset_dir="/users/cn/lsantus/"
    dataset = "homfam"
    params.seqs ="${params.dataset_dir}/data/structural_regression/${params.dataset}/combinedSeqs/*.fa"
    params.refs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/*.ref"

    align_methods = "FAMSA"
    tree_methods = "MBED"

    buckets = "50"
    dynamicX = "100000000"
    dynamicMasterAln="tcoffee_msa"
    dynamicSlaveAln="famsa_msa"

    predict = true
    n_af2 = 50

    dynamic_align=true
    regressive_align=true
    progressive_align=true
    evaluate = true
}
