params{
    dataset = "homfam"
    seqs ="${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/*.fa"
    path_scripts = "$baseDir/bin"
    outputdir = "${params.dataset_dir}/data/structural_regression/stats/refs/${params.dataset}"
    outdir = "${params.dataset_dir}/data/structural_regression/stats/refs/${params.dataset}"
}

