params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    dataset_dir="/users/cn/lsantus/"
    dataset = "homfam"
    //testfam="rnasemam,ghf10,HMG_box,egf,rhv,biotin_lipoyl,adh"
    testfam="rhv,bowman"
    outdir = "$baseDir/results/${params.dataset}"

    alphafold = true

    test_set = true

    if(params.test_set){
        seqs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/combinedSeqs/{$params.testfam}*.fa"
        refs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/{$params.testfam}*.ref"
    }else{
        seqs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/combinedSeqs/*.fa"
        refs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/*.ref"
    }



    align_methods = "FAMSA"  //"FAMSA,MAFFTGINSI,PROBCONS"
    tree_methods = "FAMSA-medoid"

    buckets = "50"
    dynamicX = "100000000"
    dynamicMasterAln="tcoffee_msa"
    dynamicSlaveAln="famsa_msa"

    predict = true
    n_af2 = 50

    dynamic_align=true
    regressive_align=false
    progressive_align=false

    evaluate = true
    evaluate_extended = true
}
