params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Test references'

    dataset = "homfam"
    testfam="egf,scorptoxin"

    test_set = null

    if(params.test_set){
      seqs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/{$params.testfam}*.fa"
      refs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/{$params.testfam}*.ref"
    }else{
      seqs="${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/*.fa"
      refs="${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/*.ref"
    }

    align_methods = "3DCOFFEE"
    tree_methods = "MBED"

    dynamic_align=false
    regressive_align=false
    progressive_align=true

    evaluate=true
    evaluate_extended=true
}
