params {


    buckets = "100"
    
    targetDB = "UniProtKB"
    structural_analyisis = true

    library_methods = "fsproba" //fsproba,fsonly
    tree_methods = "MBED" //MBED,FAMSA-medoid,FAMSA-parttree
    
    // fs_matrix
    matrix = "${params.dataset_dir}/data/structural_regression/sub_matrices/3di.mat"
    

} 