params {

    
    target_db = "AF2_PRED"

    libraries_test = true
   
    matrix = "${params.dataset_dir}/data/structural_regression/sub_matrices/3di.mat"

    library_methods = "sap_sequence" //tmalign_only,foldseek_sequence,sap_only,tmalign_sequence,sap_sequence
    align_methods = "PROBAPAIR"
    tree_methods = "MBED"

}
