params {

    buckets = "100"
    
    targetDB = "PDB"
    structural_analyisis = true

    library_methods = "probaonly,fsproba,fsonly" //fsproba,fsonly,probaonly
    tree_methods = "MBED" //MBED,FAMSA-medoid,FAMSA-parttree
    
    matrix = "${params.dataset_dir}/data/structural_regression/sub_matrices/3di.mat"
    
} 