 
params{

    dataset = "homfam"  
    outdir = "$baseDir/results/${params.dataset}/TEST_LIB5/"
    libfolder = "$baseDir/results/homfam/libraries/"
    treedir = "$baseDir/results/${params.dataset}_ref"

    DB="AF2_PRED"
    target_db = params.DB
    lib="foldseek" //TMalign_pair
    tree_methods = "MBED"
    mod_methods = "homopolymers_fix_downonly"

    Ns="20"
    aggfunc = "max"

    modify = true
    merge_auto = false
    merge_manual = true

    af2_db_path = "${params.dataset_dir}/data/structural_regression/af2_structures"

    testfam = "DEATH,lafafdsa"
    test_set = true
    if(params.test_set){
        seqs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/{$params.testfam}*.fa"
        libs = "${params.libfolder}/${params.lib}/${params.DB}/{$params.testfam}*/*.library"
        refs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/{$params.testfam}*.ref"
        structures_path = "${params.af2_db_path}/colabfold_header/{$params.testfam}/pdbs/*.pdb" 
        seq_lib = "${params.libfolder}/sequence/${params.DB}/{$params.testfam}*/*.library"
    }

}