params {

    buckets = "100"
    //buckets = "100,200,300,400,500,600,700,800,900,1000"

    align_methods = "expand,quickcompact"
    tree_methods = "MBED,FAMSA-parttree,FAMSA-medoid"

    // Select which analysis to run 
    compact_analysis = true

    // Evaluation
    evaluate = true
    evaluate_extended = true
}
