params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Test references'

    dataset = "homfam"
    testfam="HLH,glob,HMG_box,int,ins,myb_DNA-binding,hr,ChtBD,bowman,bowman,mmp,tgfb,adh"
    testfam="bowman,seatoxin"

    experimental_structures_path  = "${params.dataset_dir}/data/structural_regression/${params.dataset}/pdbs/structures/ready/*/*.pdb"
    alphafold=false

    test_set = true

    if(params.test_set){
      seqs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/{$params.testfam}*.fa"
      refs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/{$params.testfam}*.ref"
    }else{
      seqs="${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/*.fa"
      refs="${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/*.ref"
    }

    align_methods = "3DCOFFEEEXPERIMENTAL"
    tree_methods = "MBED"

    dynamic_align=false
    regressive_align=false
    progressive_align=true

    evaluate=true
    evaluate_extended=true
}
