params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    //buckets = "200,1000"
    buckets = "100,200,300,400,500,600,700,800,900,1000"



    dataset_dir="/users/cn/lsantus/"
    dataset = "homfam"

    // small 
    //testfam = "ace,glob,tim,hr,hormone_rec,hpr,oxidored_q6,asp,cytb,serpin,annexin,aadh,phc,ghf5,Ald_Xan_dh_2,mofe,Sulfotransfer,kunitz,GEL,tms,DMRL_synthase,KAS,sodcu,tgfb,ghf10,rub,mmp,cah,DEATH,cryst,kringle,az,il8,ltn,phoslip,slectin,trfl,ins,ChtBD,ghf22,ricin,profilin,Stap_Strp_toxin,sti,TNF,ghf11,toxin,bowman,rnasemam,cyt3,scorptoxin,hip,seatoxin"
    //medium 
    //testfam = "blm,egf,gpdh,lyase_1,int,subt,ldh,HLH,LIM,cyclo,proteasome,icd,msb,OTCace,HMG_box,flav,uce,peroxidase,sodfe,ghf1,cys"
    //large and xlarge
    testfam = "rvp,zf-CCHH,sdr,Acetyltransf,rrm,aat,adh,p450,rhv,blmb,PDZ,Rhodanese,hla,aldosered,ghf13,hom,biotin_lipoyl,tRNA-synt_2b,myb_DNA-binding,gluts"
    //testfam="rnasemam,ghf10,HMG_box,egf,rhv,biotin_lipoyl,adh"
    //testfam="rnasemam,ltn"
    
    outdir = "$baseDir/results/${params.dataset}"

    test_set = true
    if(params.test_set){
        seqs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/combinedSeqs/{$params.testfam}*.fa"
        refs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/{$params.testfam}*.ref"
        structures_path = "${params.af2_db_path}/colabfold/{$params.testfam}/*_alphafold.pdb" 
    }else{
        seqs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/combinedSeqs/*.fa"
        refs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/*.ref"
        structures_path = "${params.af2_db_path}/colabfold/*/*_alphafold.pdb" 
    }

    align_methods = "expand,quickcompact"
    tree_methods = "MBED,FAMSA-parttree,FAMSA-medoid"

    // Select which analysis to run 
    dynamic_align=false
    regressive_align=false
    progressive_align=false
    foldseek_align=false
    compact_analysis = true
    msafold=false

    // Evaluation
    evaluate = true
    evaluate_extended = true
}
