params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Test references'

    dataset_dir="/users/cn/lsantus/"
    dataset = "homfam"
    testfam="rnasemam,ghf10"

    seqs="${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/*.fa"
    refs="${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/*.ref"

    //align_methods = "FAMSA,3DCOFFEE,PROBAPAIR,EXPRESSO"
    align_methods = "EXPRESSO"

    tree_methods = "MBED"

    buckets = "50"
    dynamicX = "100000000"
    dynamicMasterAln="tcoffee_msa"
    dynamicSlaveAln="famsa_msa"

    predict = true
    n_af2 = 50

    dynamic_align=false
    regressive_align=false
    progressive_align=true

    evaluate=true
}
