params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Test saturation'

    dataset_dir="/users/cn/lsantus/"
    dataset = "homfam"
    testfam="cryst,egf,cyt3"

    align_methods = "FAMSA"
    tree_methods = "FAMSA-medoid"

    buckets = "50,100,150,200"
    dynamicX = "100000000"
    dynamicMasterAln="tcoffee_msa"
    dynamicSlaveAln="famsa_msa"

    predict = true
    n_af2 = 50

    dynamic_align=true
    regressive_align=false
    progressive_align=false
}
