params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    dataset_dir="/users/cn/lsantus/"
    dataset = "homfam"
    //testfam="rnasemam,ghf10,HMG_box,egf,rhv,biotin_lipoyl,adh"
    testfam="rnasemam,bowman"
    outdir = "$baseDir/results/${params.dataset}"

    alphafold = true

    test_set = true
    if(params.test_set){
        seqs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/{$params.testfam}*.fa"
        refs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/{$params.testfam}*.ref"
        structures_path = "${params.af2_db_path}/colabfold/{$params.testfam}/*_alphafold.pdb" 
    }else{
        seqs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/combinedSeqs/*.fa"
        refs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/*.ref"
    }

    align_methods = "foldseek_library"
    tree_methods = "MBED"

    // Select which analysis to run 
    dynamic_align=false
    regressive_align=false
    progressive_align=false
    foldseek_align=true


    // Evaluation
    evaluate = false
    evaluate_extended = false
}
