params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    dataset_dir="/users/cn/lsantus/"
    dataset = "homfam"
    //testfam="rnasemam,ghf10,HMG_box,egf,rhv,biotin_lipoyl,adh"
    testfam="rnasemam,seatoxin"
    //outdir = "$baseDir/results/${params.dataset}"
    outdir = "$baseDir/results/${params.dataset}"


    alphafold = true
    printlibraries = true
    test_set = true
    if(params.test_set){
        seqs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/{$params.testfam}*.fa"
        refs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/{$params.testfam}*.ref"
        structures_path = "{params.dataset_dir}/data/homfam/pdbs/structures/fetched/UniProtKB/{$params.testfam}/*.pdb" 
        
    }else{
        seqs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/*.fa"
        refs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/*.ref"
        structures_path = "${params.af2_db_path}/colabfold_header/**/*.pdb" 
    }


    dynamic_align=false
    regressive_align=false
    progressive_align=false 
    foldseek_align=false
    libraries_test = false
    compact_analysis = false
    msafold = true

    library_method = "foldseek_sequence"
    align_methods = "PROBAPAIR"
    tree_methods = "MBED"

    matrix = "${params.dataset_dir}/data/structural_regression/sub_matrices/3di.mat"
    // Evaluation
    evaluate = false
    evaluate_extended = false
}
