params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Test ful structural alignment'

    dataset_dir="/users/cn/lsantus/"
    dataset = "homfam"
    testfam="seatoxin,hip"

    align_methods = "3DCOFFEE"
    tree_methods = "MBED"

    target_db="PDB"

    dynamic_align=false
    regressive_align=false
    progressive_align=false
    structural_regressive_align=true

}


process {
    executor = 'crg'
		maxRetries = 1
    errorStrategy = "retry"

    withLabel:process_low {
           queue = 'cn-el7'
           cpus = { check_max( 1 * task.attempt, 'cpus' ) }
           memory = { check_max( 5.GB * task.attempt, 'memory' ) }
           time = { check_max( 1.h * task.attempt, 'time' ) }
       }

     withLabel:process_medium {

           queue = 'cn-el7'
           cpus = { check_max( 4 * task.attempt, 'cpus' ) }
           memory = { check_max( 10.GB * task.attempt, 'memory' ) }
           time = { check_max( 5.h * task.attempt, 'time' ) }

       }

     withLabel:process_big {
             queue = 'long-sl7'
             cpus = { check_max( 8 * task.attempt, 'cpus' ) }
             memory = { check_max( 40.GB * task.attempt, 'memory' ) }
             time = { check_max( 12.h * task.attempt, 'time' ) }
       }
}
